@model PC2ROJAS.Models.Cliente

@{
    ViewData["Title"] ="Crear cuenta";
}

<h1>Crear Cuenta Bancaria</h1>
    <form asp-controller="Cliente" asp-asp-action="Crear" method="post">
        <div>
            <label for="nombreTitular">Nombre del Titular:</label>
            <input type="text" id="nombreTitular" name="nombreTitular" required>
        </div>
        <div>
            <label for="tipoCuenta">Tipo de Cuenta:</label>
            <select id="tipoCuenta" name="tipoCuenta" required>
                <option value="" disabled selected>Seleccione un tipo de cuenta</option>
                <option value="Ahorros">Ahorros</option>
                <option value="Corriente">Corriente</option>
                <option value="Inversiones">Inversiones</option>
            </select>
        </div>
        <div>
            <label for="saldoInicial">Saldo Inicial:</label>
            <input type="number" id="saldoInicial" name="saldoInicial" min="0" step="0.01" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <button type="submit">Crear Cuenta</button>
        </div>
    </form>
        <h1>@ViewData["Message"]</h1>

    <script src="script.js"></script> 
